.stop-scroll {
    overflow: hidden;
}

header {
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 10rem;
    box-sizing: border-box;
    align-items: center;
    z-index: 999;
    min-width: 320px;
    background-color: #fff;
}

.logo {
    width: 8.8rem;
    height: 2.7rem;
}

.logo a {
    width: 8.8rem;
    height: 2.7rem;
    background: url(../images/logo_blue.png) center no-repeat;
    background-size: cover;
    display: block;
}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu>li {
    margin-right: 2.5rem;
}

.menu>li a {
    font-size: 1.6rem;
    line-height: 2.7rem;
}

/* only_mob_menu */
.only_mob_menu {
    width: 3rem;
    height: 2.7rem;
    overflow: hidden;
    display: none;
    z-index: 999;
    position: relative;
}

.only_mob_menu>li {
    width: 100%;
    height: 0.2rem;
    background-color: #333;
    position: absolute;
}

.only_mob_menu>li:first-child {
    left: 0;
    top: 0;
}

.only_mob_menu>li:nth-child(2) {
    top: 1.3rem;
}

.only_mob_menu>li:last-child {
    right: 0;
    top: 2.5rem;
}

.only_mob_popup_wrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(3, 3, 3, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.only_mob_popup_menu {
    width: 30rem;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding: 8rem 4rem;
    box-sizing: border-box;
    background-color: #fff;
}

.only_mob_popup_menu>li {
    font-size: 1.6rem;
    margin-top: 1rem;
}

/* only_mob_menu 끝*/

.dark_light_bt {
    width: 2.7rem;
    height: 2.7rem;
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 100%;
}

main {
    padding: 8rem 10rem;
}

.contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 30%;
    max-height: 50rem;
    margin-top: 5rem;
    box-sizing: border-box;
    border: 1px solid;
    padding: 1rem;
    overflow: hidden;
}

.content_img_wrap {
    max-height: 30rem;
    overflow: hidden;
}

.content_img_wrap:hover {
    cursor: pointer;
}

.content_img_wrap:hover .content_img {
    transform: scale(0.95);
}

.content_img {
    width: 100%;
    transition: 0.3s;
}

.content_text_box {
    overflow: hidden;
}

.content_text_box h2 {
    font-size: 2rem;
    margin-top: 2rem;
    overflow: hidden;
    white-space: nowrap;
}

.content_text_box p {
    margin: 2rem 0;
    font-size: 1.4rem;
    line-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.modal_wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modal_window {
    width: 50%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    border: 1px solid #333;
    padding: 5rem;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}

.modal_img {
    width: 100%;
    max-height: 50%;
}

.modal_close_bt {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px solid;
    font-size: 1.6rem;
    line-height: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: transparent;
}

.modal_text_box h2 {
    margin-top: 1rem;
    font-size: 2rem;
}

.modal_text_box p {
    margin-top: 1rem;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.scrolltop_bt {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 100%;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border: 1px solid;
    text-align: center;
    transition: 0.3s;
    background-color: transparent;
}

.scrolltop_bt:hover {
    cursor: pointer;
    transform: scale(1.1);
}